body, html {
    background-color: #DEEEEF;
    scroll-behavior: smooth;
}


/*-----------------------------SCROLLBAR-----------------------------------*/


/* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(182, 206, 206, 0.78);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ffffff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}

/*-----------------------------SIDE MENU-----------------------------------*/


.selected {
    fill: white;
}

.menu a {
    color: transparent;
}

.menu {
    position: fixed;
    top: 35vh;
    left: 100px;
    z-index: 9999;
}

.start {
    list-style-type: none;
}

.start li {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
}

.start a {
    text-decoration: none;
    font-family: "Proxima Nova", sans-serif;
    color: #ffffff;
    margin-left: 20px;

}

.start li:hover .circle {
    fill: white;
}


@media screen and (max-width: 1300px) {
    .menu {
        display: none;
    }
}


/*-------------------------------hero--------------------------------*/

.container {
    padding: 60px;
}


.hero_title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10vh;
}

.hero {
    background-image: url("../img/home_bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 85vh;

}

.hero h1 {
    font-family: "Proxima Nova", sans-serif;
    font-size: 10em;
    color: #ffffff;
    letter-spacing: 50px;
}

@media screen and (max-width: 1024px) {

    .hero_title {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 30vh;
    }

}




.hero_title svg {
    height: 120px;
}

.hero_presentation {
    text-align: center;
}

.hero_presentation h2 {
    font-family: "Proxima Nova", sans-serif;
    text-align: center;
    font-size: 1.5em;
    color: #ffffff;
    margin-top: -70px;
}



.scroll {
    text-align: center;
    margin-top: 10vh;
}

#dive {
    display: block;
}

.scroll img {
    height: 40px;
    width: 40px;
    cursor: pointer;
    -webkit-animation: ca3_fade_move_down 2s ease-in-out infinite;
    -moz-animation:    ca3_fade_move_down 2s ease-in-out infinite;
    animation:         ca3_fade_move_down 2s ease-in-out infinite;
}

@-webkit-keyframes ca3_fade_move_down {
    0%   { -webkit-transform:translate(0,-20px); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { -webkit-transform:translate(0,20px); opacity: 0; }
}
@-moz-keyframes ca3_fade_move_down {
    0%   { -moz-transform:translate(0,-20px); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { -moz-transform:translate(0,20px); opacity: 0; }
}
@keyframes ca3_fade_move_down {
    0%   { transform:translate(0,-20px); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { transform:translate(0,20px); opacity: 0; }
}

@media screen and (max-width: 1024px) {


    .scroll {
        display: none;
    }

}



.scroll a {
    margin-top: 20px;
    color: #ffffff;
    text-decoration: none;
    font-family: "Proxima Nova", sans-serif;
}


/*-------------------------------work--------------------------------*/

#work {
    margin-top: 200px;

}

.grid_gallery {
    --num-cols:3;
    --row-height: 300px;
    --gap: 15px;

    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);

}

.grid_gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid_gallery img:hover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid_gallery-col-2 {
    grid-column: span 2;
}

.grid_gallery-row-2 {
    grid-row: span 2 ;
}


.grid_relative {
    position: relative;
}

.grid_relative:hover .caption {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(92, 255, 250, 0.80);
    bottom: 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    opacity: 1;
    transition: 0.5s ease-in-out;
}


.grid_relative .caption {
    width: 100%;
    position: absolute;
    background-color: rgba(92, 255, 250, 0.80);
    bottom: 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
}


@media screen and (max-width: 1024px) {
    .grid_gallery {
        --num-cols: 2;
        --row-height: 400px;
    }
}


/*-------------------------------contact--------------------------------*/


#contact {
    margin-top: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #21DBDB;
    height: 1550px;
    position: relative;
}

.blur {
    width: 100%;
    height: 1850px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(20px);
    top: -200px;
}

.contact_container {
    width: 80%;
    height: 1400px;
    position: absolute;
    transform: translate(-50%);
    background-color: rgba(255, 255, 255, 0.23);
    top: 300px;
    left: 50%;
    backdrop-filter: blur(20px);
}

.contact_container h2 {
    font-family: "Proxima Nova", sans-serif;
    font-size: 3em;
    color: #ffffff;
    text-align: center;
    padding-top: 50px;
}

.contact_container a {
    font-family: "Proxima Nova", sans-serif;
    font-size: 1em;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    display:block;
}

.contact_container .apropos p {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-family: "Lato", sans-serif;
    font-size: 1em;
    color: #ffffff;
    text-align: center;
}

.contact_container .apropos h3 {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-family: "Proxima Nova", sans-serif;
    font-size: 2.2em;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
}

.contact_container .apropos img {
    max-width: 25%;
    display: block;
    margin: 0 auto;
    padding: 50px;
}




/*-------------------------------formulaire--------------------------------*/


#contact_form_div
{
    text-align: center;
    margin-top: 100px;
}

#contact_form_div input[type="text"]
{
    width:60%;
    height:40px;
    font-size:17px;
    padding-left:5px;
    border:none;
    margin-bottom: 30px;
}
#contact_form_div textarea
{
    width:60%;
    height:70px;
    font-size:17px;
    padding:5px;
    border-style: none;
    border-color: Transparent;
}
#contact_form_div input[type="submit"]
{
    width:80px;
    height:40px;
    border:none;
    font-size:17px;
    background-color:#69DCDC;
    color:#ffffff;
    font-weight:bold;
    margin-top: 50px;
    cursor: pointer;
}

#contact_form_div input[type="submit"]:hover
{
    width:80px;
    height:40px;
    border:none;
    font-size:17px;
    background-color: #4ea3a3;
    color:#ffffff;
    font-weight:bold;
    margin-top: 50px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}


#contact_form_div textarea:focus, input:focus{
    outline: none;
}











